@font-face {
  font-family: "Corporate";
  src: url('/CorporateS-Regular.otf');
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: auto;
  width: auto;
  margin: 40px 40px;
  overflow-x: hidden;
  align-items: center;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 100;
  transition: all 300ms linear;
}
.expand {
  transform: scale(2) translate(-25%, -25%);
  background-color:  rgba(255, 255, 255, 0);
  border: 1px solid white;
}

a, button, label {
  all: unset;
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 80svw; /*ajustar de acordo com width*/
  height: 110px;
  padding: 20px 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  z-index: 30;
  background: rgba(172, 170, 170, 0.452);
  border-radius: 80px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(17.5px);
  
}
.navbar .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  padding: 5px;
  background-color: #FF5F1F;
  border-radius: 100px;
  transition: all .7s ease;
}
.navbar .logo a {
  font-size: 35px;
  padding: 0;
  font-weight: 700;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.navbar .logo a {
  transition: 0.35s ease;
}
.navbar .logo:hover {
  transform: translate3D(0,-1px,0) scale(1.20); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .7s ease; /* zoom in */
  cursor: pointer;
}
.logo a.link::before{
  height: 4px;
}
.navbar .dropdown {
  position:relative;
  z-index: 30;
  
}

.navbar .dropdown-content {
  background-color: rgb(191, 191, 191);
  border-radius: 40px;
  display: none;
  position: absolute;
  left: -120px; 
  top: 30px;
  z-index: 30;
  flex-direction: column;
  border: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px 40px;
  
}

.navbar .dropdown-content a {
  color: white;
  padding: 12px 0px;
  text-decoration: none;
  display: flex;
  text-align: left;
  border: none; /* Remove border */
}


.navbar .dropdown:hover .dropdown-content {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.9s forwards;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
  padding-bottom: 10px;

}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FF5F1F;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}

.link:hover::before {
  transform: scaleX(1);
}

/* Remove button borders and apply uniform styles */
button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  justify-content: center;
}

.wrapper {
  padding: 0; 
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: auto; 
  bottom: 60px; 
  width: 100%; 
}


.link:hover {
  transform: scaleX(1);
}

.conteudo {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 30px 20px;
  flex-wrap: wrap;
  color: #fff;
  background-color:rgba(245, 245, 245, 0.784);
  border-radius: 80px;
  font-family: monospace;
  margin-top: 200px;
  width: 70%;
  height: auto;

}

.sobre{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #ff5f1f;
    border-radius: 60px;
    font-family: monospace;
    padding: 40px 40px;
    margin: 20px;
    width: 45%;
    height: 300px; /* Ajuste de altura */
    text-align: left;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37) ;
    transition: all .5s ease; 
}
.sobre2{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(7, 7, 7, 0.816);
    border-radius: 60px;
    font-family: monospace;
    padding: 40px 70px;
    width: auto; /* O PROBLEMA*/
    height: 50%; /* Ajuste de altura */
    text-align: left;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37) ;
    transition: all .5s ease; 
}
/*animação do card*/
    
.sobre:hover, .sobre2:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.sobre2 a.link{
  width: auto;
}
.sobre a.link{
  width: auto;
}
.sobre a.link::before{
  height: 4px;
  background: white;
 
}
.sobre2 a.link::before{
  height: 4px;
  background: white;

}
.sobre h1 {
  font-weight: 700;
  text-wrap: balance;
  margin: 0; /* Remove margem */
  width: auto;
}
.sobre2 h1 {
  font-size: 3vmax; /*Problema*/
  font-weight: 700;
  text-wrap: balance;
  margin: 0; /* Remove margem */
}

.icon {
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0; 
}

.icon > i {
  color: #fff;
  font-size: 2.5rem;
  transition: all 0.2s;
}

.icon:hover > i {
  scale: 2.2;
  background: linear-gradient(220.55deg, #FF5F1F 0%, #FF5F1F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
  margin: 100px 0px;
}
.contato{
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  cursor: pointer;
}

.label{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  font-family: monospace;
  font-size: 22px;
  max-width: fit-content;
  
}

.label::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}
.label:hover::before{
  transform: scaleX(1);
}

.label2{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin: 30px 30px;
}

.copyright{
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-family: "Corporate";
  color: white;
  justify-content: center;
}
/* Responsive adjustments */
@media (max-width: 450px) {
  body {
    margin: 10px 10px;
  }
  .dropdown a.link{
    font-size: 13px;
  }
  .navbar{
    height: 90px;
  }
  .navbar .logo{
    height: 50px;
    width: 110px;
  }
  .conteudo {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 50px 10px;
    margin-top: 70px;
    width: auto;
    border-radius: 50px;
    padding: 10px 10px;
    height: auto;
  }
  .container {
    width: auto;
    margin: 5px 5px;
    padding: 10px 10px;
  }
  .sobre, .sobre2 {
    padding: 20px 30px;
    margin-bottom: 10px;
    border-radius: 40px;
    width: fit-content;
  }
  .sobre h1, .sobre2 h1 {
    font-size: 40px;
    width: fit-content;
  }
}
