/* Add the following font-face declarations */
@font-face {
  font-family: "Apple_Regular";
  src: url('../Fonts/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: "Apple_black";
  src: url('../Fonts/SF-Pro-Display-Black.otf');
}
@font-face {
  font-family: "Apple_classic";
  src: url('../Fonts/AppleGaramond-LightItalic.ttf');
}
@font-face {
  font-family: "Apple_bold";
  src: url('../Fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: "Apple_thin";
  src: url('../Fonts/SF-Pro-Text-Thin.otf');
}
@font-face {
  font-family: "Apple_medium";
  src: url('../Fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: "Apple_light";
  src: url('../Fonts/SF-Pro-Text-Light.otf');
}
@font-face {
  font-family: "Apple_light_rounded";
  src: url('../Fonts/SF-Pro-Rounded-Light.otf');
}
@font-face {
  font-family: "Apple_semibold";
  src: url('../Fonts/SF-Pro-Display-Semibold.otf');
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #F5F5F7; 
  height: auto;
  width: auto;
  margin: 40px 40px;
  overflow-x: hidden;
  align-items: center;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 100;
  transition: all 300ms linear;
}
.expand {
  transform: scale(2) translate(-25%, -25%);
  background-color:  rgba(255, 255, 255, 0);
  border: 1px solid white;
}

a, button, label {
  all: unset;
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 80svw; /*ajustar de acordo com width*/
  height: 110px;
  padding: 20px 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Apple_semibold; /* Change font-family to Apple_semibold */
  z-index: 30;
  background: rgba(172, 170, 170, 0.452);
  border-radius: 80px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(17.5px);
  
}
.navbar .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  padding: 5px;
  background-color: #FF5F1F;
  border-radius: 100px;
  transition: all .7s ease;
}
.navbar .logo a {
  font-size: 35px;
  padding: 0;
  font-weight: 700;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.navbar .logo a {
  transition: 0.35s ease;
}
.navbar .logo:hover {
  transform: translate3D(0,-1px,0) scale(1.20); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .7s ease; /* zoom in */
  cursor: pointer;
}
.logo a.link::before{
  height: 4px;
}
.navbar .dropdown {
  display: flex;
  position: relative;
  width: fit-content;
  
}

.dropdown a.link{
  text-align: center;
  padding: 0;
  font-size: 20px;
  line-height: 1.1428571429;
  letter-spacing: .007em;
  color:#1D1D1F;
}

.navbar .dropdown-content {
  background-color: rgba(172, 170, 170, 0.452);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(17.5px);
  border-radius: 50px;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 30;
  flex-direction: column;
  border: none; 
  transition: opacity 0.3s ease-in-out;
  padding: 20px 40px;
  font-family: Apple_medium;
  
}

.navbar .dropdown-content a {
  color: white;
  padding: 12px 0px;
  text-decoration: none;
  display: flex;
  text-align: left;
  border: none; /* Remove border */
}


.navbar .dropdown:hover .dropdown-content {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.9s forwards;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
  padding-bottom: 10px;

}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FF5F1F;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}

.link:hover::before {
  transform: scaleX(1);
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

ul {
  display: flex;
  gap: 1.2rem;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.wrapper {
  padding: 0; 
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: auto; 
  bottom: 60px; 
  width: 100%; 
}


.link:hover {
  transform: scaleX(1);
}

.conteudo {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 30px 20px;
  flex-wrap: wrap;
  margin-top: 200px;
  width: 70%;
  height: auto;

}

.card{
    display: flex;
    flex-direction: column;
    color:#1D1D1F;
    background-color: #ff5f1f;
    border-radius: 60px;
    font-family: Apple_semibold; /* Change font-family to Apple_semibold */
    padding: 40px 40px;
    margin: 20px;
    width: 45%;
    height: 300px; /* Ajuste de altura */
    text-align: left;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37) ;
    transition: all .5s ease; 
}
.card p{
  font-size: 18px;
  font-family: Apple_medium;
  margin-bottom: 0;
}

.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.card a.link{
  width: auto;
}
.card a.link::before{
  height: 4px;
  background: white;
 
}

.card h1 {
  font-weight: 700;
  text-wrap: balance;
  margin: 0; /* Remove margem */
  width: auto;
}

.icon {
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0; 
}

.icon > i {
  color:#1D1D1F;
  font-size: 2.5rem;
  transition: all 0.2s;
}

.icon:hover > i {
  scale: 2.2;
  background: linear-gradient(220.55deg, #FF5F1F 0%, #FF5F1F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  margin: 100px 0px;
  color: #1D1D1F; /* Change color to match navbar dropdown */
}

.copyright {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-family: Apple_thin; 
  color: inherit; /* Use inherited color */
  justify-content: center;
}

footer .contato {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit; /* Use inherited color */
}

footer .label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: inherit; /* Use inherited color */
  font-family: Apple_light;
  font-size: 22px;
  max-width: fit-content;
}

footer .label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: inherit; /* Use inherited color */
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}

footer .label:hover::before {
  transform: scaleX(1);
}

footer .label2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: inherit; /* Use inherited color */
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin: 30px 30px;
}
/* Responsive adjustments */
@media (max-width: 450px) {
  body {
    margin: 10px 10px;
  }
  ul{
    gap: 0.5rem;
  }
  .dropdown a.link{
    font-size: 15px;
  }
  .navbar{
    height: 90px;
    padding: 20px 20px;
  }
  .navbar .logo{
    height: 55px;
    width: 130px;
  }
  .conteudo {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 50px 10px;
    margin-top: 150px;
    width: auto;
    border-radius: 70px;
    padding: 10px 10px;
    height: auto;
  }
  .container {
    width: auto;
    margin: 5px 5px;
    padding: 10px 10px;
  }
  .card, .sobre2 {
    border-radius: 50px;
    width: 35vmax;
  }
  .card h1{
    font-size: 35px;
    max-width: 215px;
  }
}
